ledcontrol/static/css/index.css linguist-generated=true
ledcontrol/static/css/fonts.css linguist-generated=true
ledcontrol/static/css/codemirror.css linguist-vendored=true
ledcontrol/static/css/normalize.min.css linguist-vendored=true
ledcontrol/static/css/picker-classic.min.css linguist-vendored=true
ledcontrol/static/js/codemirror.js linguist-vendored=true
ledcontrol/static/js/codemirror-python.js linguist-vendored=true
ledcontrol/static/js/pickr.min.js linguist-vendored=true
ledcontrol/static/js/lodash.min.js linguist-vendored=true
ledcontrol/static/js/axios.min.js linguist-vendored=true
ledcontrol/static/js/vue.global.prod.js linguist-vendored=true
ledcontrol/static/js/vue-router.global.prod.js linguist-vendored=true
*.h linguist-language=C
*.i linguist-language=C
ledcontrol/driver/*_wrap.c linguist-generated=true
ledcontrol/driver/ledcontrol_animation_utils.py linguist-generated=true
